@tailwind base;
@tailwind components;
@tailwind utilities;

.self-input-form {
  border-radius: 16px;
  border: 1px solid #bc68ff;
  background: #fff;
  padding: 1rem;
  padding-bottom: 3rem;
  position: fixed;
  bottom: 1rem;
  width: calc(100% - 2rem);
  /* max-width: 72rem; */
}
.self-input-form #self-input {
  height: 100% !important;
  outline: none !important;
  border: unset !important;
}
.self-input-form button {
  color: #bc68ff;
  margin-left: 0.5rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.self-input-form button .aui-sr-only {
  display: none;
}
.self-all-message {
  height: calc(100vh - 11rem);
  overflow-y: auto;
  overflow-x: hidden;
  color: #344054;
  font-family: "PingFang SC";
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
/* Webkit 浏览器滚动条样式 */
.self-all-message::-webkit-scrollbar {
  width: 6px;
}

.self-all-message::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.self-all-message::-webkit-scrollbar-thumb {
  background: #bc68ff;
  border-radius: 10px;
}

.self-all-message::-webkit-scrollbar-thumb:hover {
  background: #a855f7;
}

.self-user-message {
  text-align: right;
  padding-left: 25%;
  padding-right: 6px;
}
.self-user-message > p {
  display: inline-block;
  padding: 8px 12px;
  color: #fff;
  border-radius: 16px 16px 0 16px;
  background: linear-gradient(90deg, #bc68ff 0%, #4c56f6 100%);
}

.self-assistant-message-main {
  text-align: left;
  padding-right: 25%;
  padding-left: 6px;
}
.self-assistant-message-main > div {
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 16px 16px 16px 0;
}
.self-assistant-message button {
  margin-right: 0.5rem;
}
.self-assistant-message button svg {
  width: 18px;
  height: 18px;
}

.self-thread-input {
  height: auto;
}
.self-btn-down {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: fixed;
  bottom: 8rem;
  right: 3rem;
  cursor: pointer;
  background-color: #bc68ff;
  color: #fff;
}
.self-thread-input button .aui-sr-only {
  display: none;
}
.self-btn-add {
  position: fixed;
  top: 1rem;
  right: 3rem;
  cursor: pointer;
  color: #bc68ff;
}
.self-btn-add svg {
  width: 24px;
  height: 24px;
}
.self-btn-add:hover {
  transform: scale(1.2);
  transition: all 0.2s ease;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

/* @layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
} */
